* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
}

div {
    display: block;
}

.top {
    background-color: #1F2937;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.header-link {
    gap: 16px;
    display: flex;
    /* align-items: center; */
    /* align-content: flex-start; */
    justify-content: right;
}

.header-logo {
    color: #F9FAF8;
    flex: 1 1 50%;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 50%;
}

nav ul {
    display: flex;
    flex-basis: 70%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    gap: 5px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    background-color: #1F2937;
    color: #fff;
    padding: 120px 0;
}

.wide-margin {
    margin: 0 15%;
    display: flex;
}

.half-div-right {
    flex: 1 1 50%;
}

.hero-text {
    margin-right: 20%;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

p {
    font-size: 15px;
    color: #f9faf2;
    margin: 18px 0 18px 0;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
}

.half-div-left {
    flex: 1 1 50%;
}

.placeholder {
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    background-color: #E5E7EB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midddle {
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    /* max-width: 40em; */
}

i, .main-quote {
    min-width: 200px;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit {
    display: flex;
    align-content: flex-end;
    justify-content: right;
}

.bottom {
    background-color: white;
    display: flex;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
}

h3 {
    display: flex;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    border: none;
}

.action {
    display: flex; 
    align-content: center;
    align-items: center;
}

footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}
